anyio
argon2-cffi
argon2-cffi-bindings
arrow
astral
astropy
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
h11
httpcore
httpx
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jdcal
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pyerfa
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
Send2Trash
shapely
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tomli
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
